<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="registration-form">
      <div>
        <div class="form__control">
          <label for="name">Name</label>
          <!--Use the name `name` for the form control.-->
          <input
            type="text"
            id="name"
            formControlName="name"
            placeholder="Input text"
          />
          <span
            *ngIf="name?.errors?.['required'] && 
            (name?.touched || submitted)"
            id="nameErrorMessage"
            class="text-danger"
            >Name is required.</span
          >
          <span
            *ngIf="name?.errors?.['minlength'] && 
            (name?.touched || submitted)"
            id="nameErrorMessage"
            class="text-danger"
            >Name must be at least 6 characters long.</span
          >
        </div>
        <div class="form__control">
          <!--Use the name `email` for the form control.-->
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            placeholder="Input text"
            emailValidator
          />
          <span
            *ngIf="email?.errors?.['required'] && 
            (email?.touched || submitted)"
            id="emailErrorMessage"
            class="text-danger"
            >Email is required.</span
          >
          <span
            *ngIf="email?.errors?.['invalidEmail'] && 
            (email?.touched || submitted)"
            id="emailErrorMessage"
            class="text-danger"
            >Invalid email address.</span
          >
        </div>
        <div class="form__control">
          <!--Use the name `password` for the form control.-->
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder="Input text"
          />
          <span
            *ngIf="password?.errors?.['required'] && 
            (password?.touched || submitted)"
            id="passwordErrorMessage"
            class="text-danger"
            >Password is required.</span
          >
        </div>
      </div>
      <div class="form__action">
        <app-button
          (clicked)="onRegistrateClick()"
          buttonText="Registrate"
        ></app-button>
      </div>
    </div>
  </form>
</div>
