<h2 class="text-align-center">Login</h2>
<div class="app-plate">
  <form #loginForm="ngForm" [ngClass]="{ submitted: submitted }">
    <div class="login-form">
      <div>
        <div class="form__control">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            ngModel
            emailValidator
            required
            #emailControl="ngModel"
            placeholder="Input text"
            [ngClass]="{ invalid: isInvalid(emailControl) }"
          />
          <span
            *ngIf="emailControl.invalid && (emailControl.touched || submitted)"
            class="text-danger"
          >
            <span *ngIf="emailControl.errors?.['required']"
              >Email is required.</span
            >
            <span *ngIf="emailControl.errors?.['invalidEmail']"
              >Invalid email format.</span
            >
          </span>
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            ngModel
            required
            #passwordControl="ngModel"
            placeholder="Input text"
            [ngClass]="{ invalid: isInvalid(passwordControl) }"
          />
          <span
            *ngIf="
              passwordControl.invalid && (passwordControl.touched || submitted)
            "
            class="text-danger"
          >
            <span *ngIf="passwordControl.errors?.['required']"
              >Password is required.</span
            >
          </span>
        </div>
      </div>
      <div>
        <div class="form__action">
          <app-button buttonText="Login" (clicked)="onSubmit()"></app-button>
        </div>
        <div class="form__text">
          If you don't have an account you may <strong>Registration</strong>
        </div>
      </div>
    </div>
  </form>
</div>
