<div *ngFor="let course of courses$ | async">
  <app-course-card [courseObject]="course" [isEditable]="editable">
    <app-button
      courseShow
      [buttonText]="buttonLabelService.getLabel('SHOW_COURSE')"
      (clicked)="router.navigate(['/courses', course.id])"
    ></app-button>
    <app-button
      *ngIf="userStoreService.isAdmin"
      courseEdit
      [iconName]="buttonLabelService.getLabel('TRASH_CAN')"
      (clicked)="coursesStoreService.deleteCourse(course.id)"
    ></app-button>
    <app-button
      *ngIf="userStoreService.isAdmin"
      courseDelete
      [iconName]="buttonLabelService.getLabel('PENCIL')"
    ></app-button>
  </app-course-card>
</div>
