@import 'src/app/shared/styles/styles';

.course {
 min-width: 60vw;

  &__flex {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    & input {
      width: 50%;
    }

    & app-button {
      margin-left: 16px;
    }

    & .course__duration {
      margin-left: 16px;
    }
  }

  &__authors {
    margin-top: 8px;
    display: flex;

    &-item {
      margin-right: 10px;
    }
  }

  &__icon {
    margin-left: 4px;
    cursor: pointer;
  }
}

.form__action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 12px;
}

.flex {
  display: flex;
}

.w-40 {
  width: 40%;
}

.w-80 {
  width: 80%;
}

.w-20 {
  width: 20%;
}

.break {
  flex-basis: 100%;
  height: 0;
}